/* Write your code here. */
.app {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-container {
  width: 50%;

  background-color: #b5b4eb;
  border: solid 2px silver;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-height: 80%;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
}
